* {
    margin: 0;
    padding: 0;
}
.not_found_container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(135, 52, 212);
    background-image: url("./17 background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.not_found_container h1 {
    text-align: center;
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 255, 255, 0.897);
    margin-bottom: 40px;
}
.not_found_container a {
    font-family: Arial, Helvetica, sans-serif;
    color: #f3f3f3;
    background: #1c1f1ede;
    padding: 15px 20px;
    text-decoration: none;
    cursor: pointer;
}